@media(max-width: 480px){
    .cabecalho {
        font-size: 40px;
    }
    .item-menu{
        font-size: 40px;
    }
    .logo {
        display: flex;
        width: 100%;
        margin-bottom: 100px;
        align-items: center;
        justify-content: center;
    }
    nav {
        width: 100%;
        text-align: center;
    }
    .menu {
         display: block;
    }
    .menu li {
        margin-left: 0;
        margin: 0px 30px 50px;
    }
    .menu a {
        display: block;
    }
    .sobre {
        padding: 17px 40px;
        background-color:  #5BC241;
    }
    .cadastrar {
        font-size: 18px;
        padding: 15px 22px;
        font-weight: 300;
        background-color:  #5BC241;
        border-radius: 10px;
        margin: 30px;
    }
    .logo span {
        font-size: 40px;
        align-self: center;

    }
}

@media (min-width:481px) and (max-width:992px){
    .cabecalho {
        font-size: 40px;
        display: block;
    }
    
    .logo {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
    }

    nav {
        text-align: center;
    }

    .logo span {
        font-size: 40px;
        align-self: center;

    }

    .menu{
        display: flex;
        justify-content: center;
    }
}